.contToDoList{
    width: 100%;
    padding: 3rem 1rem;
    position: relative;
}
.contToDoList__list{
    width: 100%;
    border-radius: 1rem;
    min-height: 100px;
    padding: 1rem;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.contToDoList__list--item{
    width: 100%;
}
@media screen and (min-width: 450px) {
    .contToDoList__list{
        padding: 1rem;
    }
    .contToDoList{
        width: 100%;
        position: relative;
    }
    .contToDoList__list--item{
        width: max-content;
    }
}
