.conHeader{
    width: 100%;
    height: 65px;
    display: flex;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 0 2rem;
    box-sizing: border-box;
    background-color: var(--white-normal);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.conHeader__title{
    margin: 0;
    font-size: x-large;
    font-family: Poppins, sans-serif;
    font-weight: 800;
    font-kerning: normal;
}