@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,600;0,700;0,800;1,400&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Poppins, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
}
html{
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --white-dark: #F6F5F5;
  --white-normal: #FDFAF6;
  --orange: #ec9016;
}


input{
  border: 0;
  height: 2rem;
  border-radius: 0.2rem;
  padding: 0.2rem;
  text-align: center;
  outline: none;
  font-size: medium;
  font-weight: 300;
}
input:focus{
  outline: 0.13rem solid var(--blue-400);
  outline-offset: 0.15rem;
}